@import url(../libs/bootstrap-grid/bootstrap-grid.css);
@import url(../libs/bootstrap-grid/bootstrap.min.css);
@import url(../libs/bootstrap-select/bootstrap-select.min.css);

@font-face {
    font-family: 'Yeseva One';
    src: url('../fonts/YesevaOne.eot');
    src: url('../fonts/YesevaOne.eot?#iefix') format('embedded-opentype'),
        url('../fonts/YesevaOne.woff2') format('woff2'),
        url('../fonts/YesevaOne.woff') format('woff'),
        url('../fonts/YesevaOne.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


$active : #0F2D57;
$font : 'Roboto', sans-serif;
$title-font: 'Yeseva One';


body{
	opacity: 1;
	color: #4f4f4f;
	min-height: 100vh;
	font-size: 16px;
	font-family: $font;
	background-color: #fff;
	position: relative;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

img{
	max-width: 100%;
	height: auto;
}
a{
	transition: all 0.2s linear;
	color: #000;
	text-decoration: none;
	&:hover,
	&:focus{
		color: $active;
		text-decoration: none;
		outline: none;
	}
}
a[href^=tel] { color: inherit; text-decoration: none; }

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6{
	font-family: $font;
    font-weight: bold;
    margin-top: 0;
}

button:focus,
button:active{
	outline: none !important;
	box-shadow: none !important;
}


.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
	outline: none !important;
}
p{
	font-size: 16px;
	line-height: 24px;
}

.main-wrapper{
	display: flex;
	align-items: stretch;
	height: 100vh;
	flex-wrap:nowrap;
	&:after{
		content:"";
		display: table;
		clear: both;
	}
}

.first-column{
	width: 50%;
	float: left;
	background-color: #fff;
	padding: 40px 100px 100px 130px;
	position: relative;
	background-image: url(../img/white-bg.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	.mobile-phone{
		display: none;
	}
}
.second-column{
	float: left;
	width: 50%;
	padding: 40px 130px 100px 80px;
	background-color: #1b2329;
	background-image: url(../img/dark1.png), url(../img/dark2.png);
    background-position: 90% 35px, 100% 100%;
    background-repeat: no-repeat, no-repeat;
	.header{
		text-align: left;
		color:#fff;
		margin-bottom: 90px;
		li{
			font-size: 20px;
			font-weight: 300;
			margin-left: 0;
			img{
				display: inline-block;
				vertical-align:middle;
				margin-right: 10px;
			}
		}
	}
}
.header{
	text-align: right;
	ul{
		margin: 0;
		padding: 0;
		li{
			display: inline-block;
			list-style: none;
			margin-left: 30px;
			a{
				display: block;
			}
		}
	}
}
.h2{
	font-size: 50px;
	line-height: 60px;
	color:#000;
	font-family: $title-font;
	margin-bottom: 40px;
	margin-top: 60px;
}
p.bg{
	margin-bottom: 40px;
	span{
		background-color: #000;
		color:#fff;
		font-size: 20px;
		line-height: 35px;
		font-weight: 300;
		padding: 3px 10px;
	}
}
p{
	font-size: 17px;
	line-height: 27px;
	margin-bottom: 40px;
	a{
		font-weight: 500;
	}
}
i.btn{
	background-color: transparent !important;
	padding: 0;
	border:none;
	margin-left: 10px;
	cursor: pointer;
}
.btn-gradient{
	margin-top: 45px;
	background: #ea2363;
	background: -moz-linear-gradient(left, #ea2363 0%, #ff8a65 100%);
	background: -webkit-linear-gradient(left, #ea2363 0%,#ff8a65 100%);
	background: linear-gradient(to right, #ea2363 0%,#ff8a65 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea2363', endColorstr='#ff8a65',GradientType=1 );
	border:none;
	border-radius: 50px;
	font-weight: 500;
	font-size: 20px;
	line-height: 35px;
	padding: 8px 10px;
	color: #fff !important;
	width: 240px;
	&:active{
		color:#fff;
		background: #ea2363;
		background: -moz-linear-gradient(left, #ea2363 0%, #ff8a65 100%);
		background: -webkit-linear-gradient(left, #ea2363 0%,#ff8a65 100%);
		background: linear-gradient(to right, #ea2363 0%,#ff8a65 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea2363', endColorstr='#ff8a65',GradientType=1 );		
	}
	&:hover{
		color:#fff;
		opacity: 0.9;
	}
}
.copyright{
	position: absolute;
	left: 130px;
	bottom: 80px;
	font-size: 13px;
	color: #999;
}

#tags-wrapper{
	width: 430px;
	height: 80vh;
	position: relative;
	&.opened-widget{
		.tags-widget{
			display: none;
			&.opened{
				display: block;
			}
		}
	}
}
.scroll-wrapper{
	height: 50vh;
	position: relative;
}
@media (max-height: 700px){
	#tags-wrapper{
		height: 75vh;
	}
	.copyright{
		display: none;
	}
}

/*
 * Container style
 */
.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

/*
 * Scrollbar rail styles
 */
.ps__rail-x {
  display: none;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  height: 15px;
  /* there must be 'bottom' or 'top' for ps__rail-x */
  bottom: 0px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-y {
  display: none;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  width: 15px;
  /* there must be 'right' or 'left' for ps__rail-y */
  right: 0;
  /* please don't change 'position' */
  position: absolute;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent;
}

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 0.6;
}

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: #eee;
  opacity: 0.9;
}

/*
 * Scrollbar thumb styles
 */
.ps__thumb-x {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color .2s linear, height .2s ease-in-out;
  -webkit-transition: background-color .2s linear, height .2s ease-in-out;
  height: 6px;
  /* there must be 'bottom' for ps__thumb-x */
  bottom: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__thumb-y {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color .2s linear, width .2s ease-in-out;
  -webkit-transition: background-color .2s linear, width .2s ease-in-out;
  width: 6px;
  /* there must be 'right' for ps__thumb-y */
  right: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
  background-color: #999;
  height: 11px;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: #999;
  width: 11px;
}

/* MS supports */
@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important;
  }
}

.tags-widget{
	width: 370px;
	margin-bottom: 25px;
	.h4{
		font-size: 20px;
		font-weight: 300;
		color:#fff;
		margin-bottom: 15px;
	}
	ul{
		padding: 0;
		margin: 0;
		li{
			display: inline-block;
			list-style: none;
			color:#fff;
			background-color: #090a0b;
			border-radius: 20px;
			font-size: 17px;
			padding: 5px 9px;
			margin-bottom: 10px;
			margin-right: 1px;
			margin-left: 1px;
			cursor: pointer;
			a{
				color:#fff;
			}
			&:hover{
				background: #ea2363;
				background: -moz-linear-gradient(left, #ea2363 0%, #ff8a65 100%);
				background: -webkit-linear-gradient(left, #ea2363 0%,#ff8a65 100%);
				background: linear-gradient(to right, #ea2363 0%,#ff8a65 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea2363', endColorstr='#ff8a65',GradientType=1 );
			}
			&.more{
				display: inline-block !important;
				background: none !important;
				padding: 0;
				opacity: 0.25;
				border-bottom: 1px dashed #fff;
				border-radius: 0;
				transition: all 0.2s linear;
				&:hover{
					opacity: 1;
				}
			}
			&:nth-of-type(n+11){
				display: none;
			}
		}
	}
	.tooltip{
		&.in{
			opacity: 1;
		}
		.tooltip-inner{
			background-color: #fff;
			color:#000;
			font-size: 13px;
			padding: 5px 10px;
		}
	}
	&.opened{
		ul{
			li{
				display: inline-block !important;
			}
		}
	}	
}

.back-to{
	font-size: 13px;
	color: #999 !important;
	margin-top: 40px;
	display: block;
	+ .h2{
		margin-top: 30px;
	}
}

$form-field-padding-top: 24px;

$form-input-width: 100%;
$form-input-height: 34px;
$form-input-padding: 0;
$form-input-border-bottom: 1px solid #dedede;
$form-input-z-index: 100;
$form-input-text-color: #000;

$form-label-top: $form-field-padding-top;
$form-label-width: 100%;
$form-label-padding: 5px 0;
$form-label-before-background-color: #9a9a9a;
$form-label-after-background-color: #9a9a9a;

$form-label-content-focus-color: #808080;

.form-animate-fields {
  .form-field {
    position: relative;
    overflow: hidden;
    padding-top: $form-field-padding-top;
    padding-bottom: 24px;
    &.with-select{
    	overflow: visible;
    }
  }
  label.error{
  	position: absolute;
  	left: 320px;
  	top:15px;
  	background-color: #fff;
  	border:1px solid #eeeeee;
  	color: #ff0000;
  	font-weight: 400;
  	font-size: 13px;
  	line-height: 18px;
  	padding: 20px;
  	display: inline-block;
  	box-shadow: 0 0 24px rgba(0,0,0,0.14);
  	&:before{
  		content:"";
  		position: absolute;
  		left: -10px;
  		top: 14px;
  		width: 0;
		height: 0;
		border-style: solid;
		border-width: 10px 10px 10px 0;
		border-color: transparent #ffffff transparent transparent;
  	}
  	+ label:before{
  		background-color: #ff0000;
  	}
  }
  
  .form-input {
  	width: 300px;
    position: relative;
    z-index: $form-input-z-index;
    display: block;
    background-color: transparent;
    height: $form-input-height;
    padding: $form-input-padding;
    border: 0;
    -webkit-appearance: none;
    appearance: none;
    color: $form-input-text-color;
    transition: border-bottom 0.35s cubic-bezier(0.7, 0, 0.3, 1);
    border-bottom: 1px solid #e2e2e2;
    &.valid{
    	~ label:before{
    		background-color: $form-label-before-background-color;
    	}
    }
  }

  .form-input:focus {
    outline: none;
    border-bottom:1px solid transparent;
  }

  .form-label {
    width: 300px;
    position: absolute;
    font-size: 17px;
    font-weight: 300;
    color:#808080;
    top: $form-label-top;
    padding: $form-label-padding;
  }

  .form-label:before,
  .form-label:after {
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
  }

  /* Background */
  .form-label:before {
    top: 32px;
    background-color: $form-label-before-background-color;
    height: 2px;
    transform: translate3d(-101%, 0, 0);
    transition: transform 0.35s cubic-bezier(0.7, 0, 0.3, 1);
  }

  .form-input.is-filled ~ .form-label:before {
    transform: translate3d(0, 0, 0);
  }

  /* Border */
  .form-label:after {
  	display: none;
    top: 100%;
    height: 1px;
    margin-top: -1px;
    background-color: $form-label-after-background-color;
    transition: opacity 0.5s cubic-bezier(0.7, 0, 0.3, 1)
  }

  .form-input.is-filled ~ .form-label:after {
  	opacity: 0;
  }

  .form-label-content {
    position: relative;
    display: block;
    width: 100%;
    transform-origin: 0 0;
    transition: transform 0.25s 0.05s cubic-bezier(0.7, 0, 0.3, 1), font-size 0.25s 0s cubic-bezier(0.7, 0, 0.3, 1);
  }

  .form-input.is-filled ~ .form-label .form-label-content {
    color: $form-label-content-focus-color;
    font-size: 13px;
    transform: translate3d(-($form-input-padding), -20px, 0);
  }
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
	width: 300px;
}
.bootstrap-select>.dropdown-toggle{
	background-color: transparent !important;
	border:none;
	border-radius: 0;
	box-shadow: none !important;
	border-bottom: 1px solid #e2e2e2;
	font-size: 17px;
	color: #808080;
	padding-left: 0;
}
.bootstrap-select .dropdown-toggle:focus{
	outline: none !important;
}

@media only screen and (max-width: 992px){
	body{
		overflow: visible;
	}
	.main-wrapper{
		display: block;
		height: auto;
		width: 100%;
	}
	.first-column{
		width: 100%;
	}
	.second-column{
		width: 100%;
	}
	.scroll-wrapper{
		height: auto;
	}
	.copyright{
		bottom:30px;
	}
	.form-animate-fields .form-field{
		max-width: 500px;
	}

}
@media only screen and (min-width: 992px) and (max-width: 1400px){
	.form-animate-fields label.error{
		background-color: transparent;
		box-shadow: none;
		right: auto;
		left: 0;
		padding: 0;
		border:none;
		top:auto;
		bottom:-5px;
		&:before{
			display: none;
		}
	}
}
@media only screen and (min-width: 768px) and (max-width: 1200px){
	.first-column{
		padding: 30px 40px;
		padding-bottom: 80px;
	}
	.h2{
		margin-top: 0;
		font-size: 42px;
		line-height: 50px;
	}
	.copyright{
		display: none;
	}
}
@media only screen and (max-width: 767px){
	.first-column{
		padding: 20px 30px;
		padding-bottom: 80px;
		.mobile-phone{
			display: inline-block;
			float: left;
			color:#fff;
			img{
				margin-right: 10px;
				position: relative;
				top:-2px;
			}
		}
		.header{
			margin-bottom: 40px;
		}
	}
	.h2{
		margin-top: 0;
		font-size: 30px;
		line-height: 36px;
		margin-bottom: 30px;
	}
	p{
		font-size: 16px;
		line-height: 25px;
		a{
			display: block;
			margin-top: 10px;
		}
	}
	p.bg{
		margin-bottom: 30px;
	}
	p.bg span{
		font-size: 16px;
	}
	.btn-gradient{
		font-size: 18px;
	}
	.copyright{
		bottom: 20px;
		left: 30px;
	}
	.second-column{
		padding: 20px 30px;
		padding-bottom: 100px;
	}
	.tags-widget{
		width: 100%;
		.h4{
			font-size: 18px;
		}
		.tooltip{
			display: none !important;
		}
		ul{
			li{
				font-size: 16px;
			}
		}
	}
	.second-column .header li{
		font-size: 18px;
	}
	#tags-wrapper{
		width: 100%;
		overflow: visible;
		height: auto;
	}
	.form-animate-fields label.error{
		background-color: transparent;
		box-shadow: none;
		right: auto;
		left: 0;
		padding: 0;
		border:none;
		top:auto;
		bottom:-5px;
		&:before{
			display: none;
		}
	}
	.form-animate-fields .form-input{
		border-radius: 0 !important;
	}
}